$lightblue: #00b8d4;
$lightyellow: #fbc02d;

body{
    font-family: 'Open Sans', sans-serif;
}

.mainTitle{
    text-align: center;
    color: $lightblue;
    margin-bottom: 2%;
    margin-top: 2%;
}

#app{
    border-radius: 10px;

    .inputForm{
        padding: 1%;
    }
}

.tabs{
    .tab{
        width: 50%;

        a{
            color: $lightblue;
        }

        a.active{
            color: $lightblue;
        }

        a:hover{
            color: $lightblue;
        }

        a:focus.active{
            background-color: rgba(162, 245, 245, 0.31)
        }
    }

    .indicator{
        background-color: $lightblue;
    }
}

.todoList, .doneList{
    p{
        border-bottom: 1px solid lightgrey;
        position: relative;
        margin: 0;
        height: 4em;

        span{
            position: absolute;
            left: 30px;
            right: 65px;
            margin-left: 5px;
        }

        .doneButton {
            position: absolute;
            top: 17px;
            zoom: 0.7;
            margin: 5px;
            border: 1px solid $lightblue;

            i{
                color: $lightblue;
            }
        }
        .undoButton {
            zoom: 0.7;
            margin: 5px;
            border: 1px solid $lightblue;

            i{
                color: $lightblue;
            }
        }
        .favButton{
            position: absolute;
            right: 45px;
            top: 14px;
            zoom: 0.7;
            margin: 5px;
            border: 1px solid $lightyellow;

            i{
                color: $lightyellow;
            }
        }

        .favButton.itemIsFav{
            background-color: $lightyellow;

            i{
                color: white;
                background-color: $lightyellow;
            }
        }

        .deleteButton{
            position: absolute;
            right: 0;
            border: none;

            i{
            color: #e53935;
            }
        }

        .deleteButton:focus{
            background-color: white;
        }
        
    }
}

.doneList{
    span{
        color: lightgrey;
        text-decoration: line-through;
    }
}

.list-item-enter-active, .list-item-leave-active {
    transition: opacity 0.3s, transform 0.3s;
    transform-origin: left center;
}


.list-item-enter, .list-item-leave-to {
    opacity: 0;
    transform: scale(0.5);
}